/* ヘッター全体 */
.header{
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #fff;
} 
.header >:last-child {
    margin-left: auto;
  }
  img{
	vertical-align:top;
}
/* ボタンについて */
.header-button{
    height: 50px;
    width:250px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
    color:#fff;
    display:inline-block;
    padding: 8px;
    /* グラデーション */
    border-radius:25px;
    background-image:-moz-linear-gradient(left);
    background-image:-webkit-gradient(linear,left top,right bottom);
    background-image:-moz-linear-gradient(
    top,
    rgb(19, 105, 235) 50%,
    rgb(37, 195, 235) 50%);
 
    background-image:-webkit-gradient(
    linear,left top,right bottom,
    from(rgb(19, 105, 235)),
    to(rgb(37, 195, 235)));
    
  
}
.header-button .a{
    text-align:center;
    vertical-align: middle;
}
/* ４week */
.header-word{
    color: rgb(106, 193, 233);
    padding-left: 30px;
}
.header-word span{
    line-height: 64px;
}



/* 引用モーダル */
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;
  }
  
  
  
  .header-button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
  
  }
  
  /*アイコンを表示*/
  /* .header-button:after {
  font-family: "Font Awesome 5 Free";
    content: "\f2d0";
      padding-left: 8px;
  } */
  
  /*ラベルホバー時*/
  .header-button:hover {
    color: #FFFFFF;
    background-color: #4f96f6;
    transition: .6s;
  }
  
  .modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  
  .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
  }
  
  .modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    height: 80%;
    padding: 10px 30px 25px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
  }
  
  .modal-wrapper .modal-window .modal-content {
    height: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
  }
  
 
  
  .modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
  }
  
  .modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    color: #95979c !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
  }
  
  .modal-wrapper .modal-close:hover {
    color: #2b2e38 !important
  }
/* ボタン0について */
.modal-wrapper0 {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;
  }
  
  
  
  .header-button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
  
  }
  
  /*アイコンを表示*/
  /* .header-button:after {
  font-family: "Font Awesome 5 Free";
    content: "\f2d0";
      padding-left: 8px;
  } */
  
  /*ラベルホバー時*/
  .header-button:hover {
    color: #FFFFFF;
    background-color: #4f96f6;
    transition: .6s;
  }
  
  .modal-wrapper0:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  
  .modal-wrapper0:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal-wrapper0::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
  }
  
  .modal-wrapper0 .modal-window0 {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    height: 80%;
    padding: 10px 30px 25px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
  }
  
  .modal-wrapper0 .modal-window0 .modal-content0 {
    height: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
  }
  
 
  
  .modal-overlay0 {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
  }
  
  .modal-wrapper0 .modal-close0 {
    z-index: 20;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    color: #95979c !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
  }
  
  .modal-wrapper0 .modal-close0:hover {
    color: #2b2e38 !important
  }


  .container{
    background-color: #f7f0f0;
}

