html{
  min-width: 375px;
  /* max-width:1440px; */
  width:100%;
  height: 100vh;
  margin: 0;
}

body{
  display: block;
  box-sizing: border-box;
  height: 100%;
  margin:0;
}

.header{
  box-sizing: 100%;
  padding: 5px 20px;
}

.weekNo{
  color: #98B9D2;
}

main{
  background-color:#F5F5F8;
  height: 100vh;
  padding:20px 50px; 
  display: flex;
  box-sizing: border-box;
}

.contents{
  display: inline-block;
  text-align: center;
  height: 80vh;
  width: fit-content;
  margin: 20% auto;
}

#error{
  color: #F3BD67;
}

.size{
  font-size: 3em;
  font-weight: 800;
}
.size::before{
  color:#F3BD67;
}