html{
    min-width: 375px;
    /* max-width:1440px; */
    width:100%;
    height: 100%;
    margin: 0;
}

body{
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin:0;
}

.header{
    box-sizing: 100%;
    padding: 5px 20px;
}

.weekNo{
    color: #98B9D2;
}

.topbutton{
    float:right;
    outline:none;
    display: block;
    cursor: pointer;
    border-radius: 100vh;
    background: linear-gradient(0.25turn, #1073BC, #3BCDFD);
    color: white;
    padding:5px 40px;
    font-size: 15px;
    border:0;
    box-shadow: 0 5px 10px 5px #3bccfd6b;
}

.main{
    background-color:#F5F5F8;
    height: 80%;
    padding:20px 50px; 
    display: flex;
    box-sizing: border-box;
    height: 80%;
}

.footer{
    width: 100%;
    text-align: center;
}

.bargraphBigBox{
    display: block;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

/* 記録・投稿のボタン */
.topbutton{
    margin: 0 0 0 auto;
}

/* today/month/totalの箱が入った外枠の箱 */
.hourBigBox{
    display: flex;
    min-width: 50%;
}

/* today/month/totalの３つの箱全部 */
.hourBox{
    background-color: #ffffff;
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.243);

}

/* today/month/totalの文字 */
.hourBoxTitle{
    display:block;
    color: #4387C6;
    font-weight: bold;
    font-size:medium;
    text-align: center;
}

/* todayのところの数 */
.todayNo{
    display:block;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* monthのところの数 */
.monthNo{
    display:block;
    font-size: large;
    font-weight: bold;
    text-align: center;
    }

/* totalのところの数 */
.totalNo{
    display:block;
    font-size: large;
    font-weight: bold;
    text-align: center;
    }

/* hourのもじ3つ全部 */
.hour{
    color: #AAC5D9;
    display:block;
    text-align: center;
}

/* 棒グラフ写真 の外側の箱*/
.bargraph{
    display:flex;
    border-radius: 10px;
    margin: 0 10px;
    }

/* 棒グラフ自体 */
.bargraphPhoto{
    display: block;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.243);
}
                 

                                 /* piechart 側 */

 /* 学習言語・学習コンテンツが入ってる大枠の箱 */
.piechartBigBox{
    display: flex;
    width: 50%;
}

/* 学習言語の箱全体 */
.languageBigBox{
    background-color: white;
    box-sizing: border-box;
    margin: 10px 0 10px 20px;
    /* border: 10px auto; */
    padding: 10px;
    border-radius: 10px;
    display: block;
    max-width: 300px;
    width: 50%;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.243);
}
/* 学習言語piechart */
.langPiechart{
    display: block;
    margin:10px auto;
    width:100%;
    max-width: 250px;
}
/*  学習コンテンツpiechart*/
.contPiechart{
    display: block;
    margin:10px auto;
    width:100%;
    max-width: 250px;
}

/* 学習コンテンツの箱全体 */
.contentsBigBox{
    background-color: white;
    box-sizing: border-box;
    margin: 10px 0 10px 20px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    max-width: 300px;
    width: 50%;
    box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.243);
}

/* 学習言語・学習コンテンツのもじ */
.piechartTitle{
    color: #121212;
    font-weight: bold;
    font-size:medium;
    padding-top: 2vh;
}

/* ページの一番下のカレンダー */
.bottomCalendar{
    display: inline-block;
    position: relative;
    padding: 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}


.bottomCalendar::before{
    content: "";
    width: 6px;
  height: 6px;
  border: 0px;
    border-bottom: solid 2px #1C75BD;
  border-left: solid 2px #1C75BD;
    -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
} 

.bottomCalendar::after{
    content: "";
    width: 6px;
  height: 6px;
  border: 0px;
    border-top: solid 2px #99BAD3;
  border-right: solid 2px #99BAD3;
    -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  
  margin-top: -4px;
} 
/* モーダル */
.modalOutside{
    display:none;
    position: absolute;
    left: 0; 
    top: 0;
    /* display: table-cell; */
    /* vertical-align: middle; */
    width: 100%;
    height: 120%;
    background-color: rgba(30,30,30,0.9);
    padding-top:20vh;
    z-index: 2147483646;
}

#modal{
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 30px;
    width: 60%;
    min-width: 400px;
    margin-left: 20%;
    height: fit-content;
	/* margin-top:30%; */
    text-align: left;
	padding:10px 20px;
	border:0;
	background:#ffffff;
    z-index: 2147483647;
}

.modalInside{
    display: flex;
}

#modal h3{
    font-size: 10px;
    display: block;
}

/* モーダル内左半分 */
.modal_lefthalf{
    display: block;
    width: 50%;
    margin-right: 5%;
}

.modal_checkbox{
    display: inline-block;
    border-radius: 30px;
    background: #F5F5F8;
    padding: 3px;
    margin: 1px;
}

#modal ul{
    display: block;
}
.modal_input, .modal_inputTWT{
    display: block;
    width: 90%;
    background-color: #F5F5F8;
    border:none;
    border-radius: 5px;
    height: 30px;
}

.modal_inputTWT{
    height: 50%;
}
/* モーダル内右半分 */
.modal_righthalf{
    display: block;
    width: 50%;
}
.fa-check-circle::before {
   color: rgb(15,113,189);
   font-size: 1.5em;
   margin-top: 3px;
}

.fa-check-circle{
    font-weight: 100;
    font-size: 10px;
    height: fit-content;
    padding-bottom: 5px;
}
/* モーダル内×ボタン */
#closeModal{
    cursor: pointer;
    display: block;
}
/* モーダル内投稿ボタン */
.modalbutton{
    outline:none;
    display: block;
    cursor: pointer;
    border-radius: 100vh;
    background: linear-gradient(0.25turn, #1073BC, #3BCDFD);
    color: white;
    padding:5px 20%;
    font-size: 15px;
    border:0;
    margin: 0 auto;
    box-shadow: 0 5px 10px 5px #3bccfd6b;
}

/* モーダル投稿しました */
.postComplete{
    display: none;
    box-sizing: border-box;
    width: 100%;
   text-align: center;
   padding:10%;
}

.postComplete .awe{
    color: rgb(190,227,97);
}

.size{
    font-size: 3em;
    font-weight: 800;
}
.size::before{
    color: #BEE361;
}


/* 画面幅が480pxの時 */
@media screen and (max-width:800px){
    html{
        min-width: 400px;
        margin-left:auto;
        margin-right:auto;
        width:100vw;
        height:100vh;
    } 

    .body{
        min-width: 400px;
        width: 100vw;
        height:100vh;
        margin-right:auto;
        margin-left:auto;
    }

    .main{
        display: block;
        width:100vw;
        height: auto;
        /* height: 80vw; */
    }

    .bargraphBigBox{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .hourBigBox{
        width: 100%;
    }
    .bargraph{
        width:90%;
        margin:5%;
    }
    .piechartBigBox{
        width: 100%;
    }
}



.uljavascript, .CSS , .PHP, .HTML, .Laravel, .SQL, .SHELL, .jyohou{
    display: inline-block;
    margin:0;
    padding:0;
    font-size: small;
} 

.uljavascript::before, .CSS::before , .PHP::before, .HTML::before, .Laravel::before, .SQL::before, .SHELL::before, .jyohou::before{
    display:inline-block; 
    vertical-align: middle;
    content:'';
    /* background: #0B40F6; */
    width:1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 8px;
 }

 .uljavascript::before{
    background: #0B40F6;
 }

 .CSS::before{
    background:#1072C3;
 }

 .PHP::before{
    background:#1FC0E2;
 }

 .HTML::before{
    background:#23D1FF;
 }

 .Laravel::before{
    background:#B69CFA;
 }

 .SQL::before{
     background:#753EF5;
 }

 .SHELL::before{
     background:#5400F9;
 }

.jyohou::before{
    background:#3A00C8;
}
 .dotinstall::before{
    background:#0B40F6;
 }

 .nyobi::before{
     background: #1072C3;
 }

 .posseassignment::before{
     background:#1FC0E2;
 }